@font-face {
  font-family: CalculatorFont;
  src: url(fonts/Calculator.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-variant-numeric: tabular-nums lining-nums;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 2px;
  width: 80px;
  font-size: 20px;
}

.big-button {
  width: 100%;
}

.calculator-box {
  background-color: #666666;
  padding: 8px;
  border-radius: 8px;
  width: 342px;
}

.buttons-box {
  display: flex;
  gap: 2px;
}

.screen {
  background-color: #e0e0e0;
  padding: 3px 8px;
  margin-bottom: 8px;
  font-family: CalculatorFont;
  font-size: 82px;
  text-align: end;
  border-radius: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.equal-box {
  display: flex;
  gap: 2px;
}